.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border-radius: 1rem;
  gap: 1rem;
  min-width: 350px;
  background-color: var(--color-offwhite);
}

.registerForm h1 {
  margin-bottom: 1rem;
}

.registerForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registerForm input {
  padding: 0.25rem;
  border: 1px solid var(--grey-100);
  border-radius: 0.2rem;
  width: 100%
}

.registerForm button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.registerForm button:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.registerForm a {
  margin-top: 0.5rem;
  color: var(--primary-color);
  font-weight: 540;
  text-decoration: none;
}

.registerForm a:hover {
  text-decoration: underline;
}
