/* --- HERO SECTION --- */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  height: 75vh;
  padding: 0 10%;
  margin: 0 auto;

  text-align: start;
  background-image: url(../../assets/hero-background.jpg);
  background-size: cover;
  background-position-y: center;
}
.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  color: var(--color-white);
}
.heroText button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  padding: 1rem 3rem;
  border: 0px;
  border-radius: 10px;

  color: var(--color-white);
  background-color: var(--primary-color);
  cursor: pointer;
}

/* --- FEATURES SECTION --- */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  height: 70vh;
  padding: 5rem 10%;
  margin: 0 auto;
}
.featuresText {
  display: grid;
  grid-template-rows: 1fr 10fr;
}
.featuresCards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.featuresCard h3 {
  font-weight: 600;

  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid var(--grey-50);
}
.featuresImage {
  margin: auto;
  margin-right: 0;

  width: 500px;
  height: 500px;
}
.featuresImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* --- REVIEWS SECTION --- */
.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 30vh;
  padding: 0 10%;
  margin: 0 auto;
}
.reviewCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  border: 2px solid var(--color-offwhite);
  box-shadow: 5px 5px 5px var(--color-offwhite);
}
.reviewCardProfile {
  display: flex;
  align-items: center;
}
.reviewCardProfile img {
  width: 50px;
}

/* --- CTA SECTION --- */
.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 0 10%;
  margin: 0 auto;

  background-color: var(--color-offwhite);
}
.cta button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10rem;
  padding: 1rem 3rem;
  border: 0px;
  border-radius: 10px;

  color: var(--color-white);
  background-color: var(--black-200);
  cursor: pointer;
}
