h1 {
  margin: 1rem 2rem;
}

h2 {
  margin: 1rem 0;
}

button {
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem;
}

.newRequests,
.allRequests {
  border: 1px var(--grey-100) solid;
}

.allRequests {
  background-color: var(--grey-100);
}

.info p,
form label {
  display: block;
  margin-bottom: 0.5rem;
}

.allRequests ul {
  list-style: none;
}

.adjustWidth {
  width: 50%;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--primary-color);
}

img {
  width: 20%;
}
