/* --- Main view --- */
.page {
  padding: 2rem 10%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.maintenanceForm {
  padding: 1rem;

  border: 1px solid var(--grey-50);
  border-radius: 5px;
  border-top-width: 10px;
  border-top-color: var(--quaternary-color);
  box-shadow: 1px 1px 5px var(--grey-50);
}

.requestList {
  padding: 1rem;

  border: 1px solid var(--grey-50);
  border-radius: 5px;
  border-top-width: 10px;
  border-top-color: var(--quaternary-color);
  box-shadow: 1px 1px 5px var(--grey-50);
}

/* --- Maintenance Form --- */
.newRequests {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.requestForm {
  width: 65%;
}

.requestForm button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 50%;
}

.requestForm button:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.requestForm,
.activeRequests ul li {
  border: 1px var(--grey-100) solid;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color-offwhite);
  cursor: pointer;
}

.info p,
.maintenance form label,
.activeRequests ul li {
  display: block;
  margin-bottom: 0.5rem;
}

.textBox {
  width: 50%;
}

/* --- Request List --- */
.activeRequests {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.activeRequests ul {
  list-style: none;
}

.activeRequests ul li:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.showMore {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.showMore:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
}

/* --- Request Details --- */

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.details {
  background-color: var(--color-offwhite);
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.details h2 {
  margin: 1rem 0;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.enlargedPhoto {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-top: 1rem;
}
