:root {
  /* color variables used throughout the site */
  --primary-color: #1c7ed6;
  --secondary-color: #04aa6d;

  --black-200: #020202;
  --grey-100: #888888;

  --color-white: #fff;
  --color-offwhite: #f0f0f0;
}

/* --- GLOBAL STYLES --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
