.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 3rem 10% 1rem;
  margin: 0 auto;
}
.crudButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.propertyCards {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding: 0 10%;
  margin: 0 auto;
}

.propertyCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border: 1px solid var(--grey-100);
  border-top-width: 10px;
  border-top-color: var(--secondary-color);
}

.propertyCard img {
  width: 200px;
}
