.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 10%;
  height: 10vh;

  background-color: var(--bg-color);
}
.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.links {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-200);
}
.loginButton {
  padding: 0.5rem 2rem;
  border-radius: 5px;

  font-size: 18px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--primary-color);
  cursor: pointer;
}
.logoutButton {
  padding: 0.5rem 2rem;
  border: 1px solid var(--grey-100);
  border-radius: 5px;

  font-size: 18px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--black-200);
  cursor: pointer;
}
