/* --- ALL NAVBARS --- */
.links {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-white);
}
.loginButton {
  padding: 0.5rem 2rem;
  border-radius: 5px;

  font-size: 18px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--primary-color);
  cursor: pointer;
}
.logoutButton {
  padding: 0.5rem 2rem;
  border: 1px solid var(--grey-100);
  border-radius: 5px;

  font-size: 18px;
  text-decoration: none;
  color: var(--black-200);
  background-color: var(--color-offwhite);
  cursor: pointer;
}

/* --- RESIDENT NAVBAR --- */
.residentNav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;

  padding: 0 10%;
  height: 10vh;

  background-color: rgb(43, 50, 59, 1);
  background-image: linear-gradient(rgb(47, 55, 65), rgb(43, 50, 59, 1));
}

/* --- MANAGER NAVBAR --- */
.managerNav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;

  padding: 0 10%;
  height: 10vh;

  background-color: rgb(43, 50, 59, 1);
}

/* --- LANDING PAGE NAVBAR --- */
.landingPageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 10%;
  height: 10vh;
}
.landingPageNavLogo {
  font-size: 20px;
}
.landingPageNavLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.landingPageNavLinks .links {
  color: var(--black-200);
}
