* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.announcements-header,
.past-announcements-header {
  margin: 1rem 0.66rem;
  border-bottom: dashed 1px rgba(110, 110, 110, 0.75);
  width: 40dvw;
}

.todays-announcements-card-container,
.past-announcements-card-container {
  display: flex;
  flex-direction: column;
  width: 40dvw;
  list-style: none;
}

.announcements-header {
  font-size: 2.25rem;
}

.past-announcements-header {
  font-size: 1.5rem;
}

.no-announcements {
  margin: 0.5rem 0.66rem;
  /* border-bottom: solid 1px darkgray; */
  width: 14.25rem;
  font-size: 1.25rem;
}

.new-announcement-button {
  margin: 0.5rem 0.66rem 0.1rem;
}

.announcements-post-form {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.66rem 0.1rem;
  width: 40dvw;
}

.announcement-input-title {
  width: 35.45rem;
}

.announcement-form-content {
  margin-top: 0.5rem;
  display: flex;
  height: 3rem;
}

.announcement-input-content {
  width: 38rem;
  height: 3rem;
  resize: none;
}

.announcement-form-button {
  align-self: flex-end;
  margin: 0.5rem 3rem 0 0;
  padding: 0.1rem;
  width: 3rem;
}

.announcements-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 0.5rem 0.66rem;
  padding: 0.25rem;
  background-color: #a3bcc8;
}

.announcements-card-header {
  margin: 0.1rem 0.2rem;
}

.announcements-card-content {
  margin: 0.25rem 0.2rem;
  font-family: "Times New Roman", Times, serif;
}

.announcements-card-info {
  margin: 0.1rem 0.2rem;
  font-size: 0.75rem;
  opacity: 0.66;
}
